[submodule "src/Tools/neos"]
	path = src/Tools/neos
	url = https://bitbucket.org/kavehshm/neos/
[submodule "src/Tools/RANE"]
	path = src/Tools/RANE
	url = https://github.com/gatelabdavis/RANE.git
[submodule "src/Tools/hal"]
	path = src/Tools/hal
	url = https://github.com/emsec/hal.git
[submodule "src/Tools/fall"]
	path = src/Tools/fall
	url = https://bitbucket.org/spramod/fall-attacks
